.Body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.Body__titulo{
    font-size: 300%;
    margin-right: 10px;
}

.Body__parrafo{
    font-size: 110%;
    
}
.Body__info{
    padding-left: 2%;
    background-color: #fff;
    height: max-content;
}
.Body__section-img{
    width: 100%;
}
.Body__btn{
    border-radius: 18px;
    padding: 7px;
    border: none;
    margin-bottom: 9.3%;
    background-color: #c6ce00;
}